---
---
@import 'colors';
@import 'fonts';
@import 'util';

* {
    box-sizing: border-box;
}

body {
    font-family: $font-body;
    color: $text-color;

    margin: 20px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-header;
    font-weight: 200;
}

img {
    max-width: 100%;
}

.brand-image {
    padding: 10px 0;
    max-height: 150px;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.navigation-item {
    text-transform: lowercase;
    border-bottom: 5px solid transparent;
    font-family: $font-navigation;
    font-size: 1.2em;

    a {
        color: $text-color;
        text-decoration: none;
    }

    padding: 10px 0;

    &.active {
        border-bottom: 5px solid $text-color;
    }

    @media (max-width: 399px) {
        font-size: 1em;
    }
}

.tiles {
    $img-spacing: 2em;

    & + & {
        margin-top: $img-spacing;
    }

    @media (max-width: 549px) {
        .four.columns + .four.columns {
            margin-top: $img-spacing;
        }
    }
}

.project-tile {
    text-decoration: none;
    text-transform: lowercase;
}

.project-tile-header {
    font-weight: 400;
}

.instagram-logo {
    height: 40px;
    width: auto;
}

footer {
    margin-top: 2em;
}
