---
layout: default
permalink: /
---

{% assign loopindex = 0 %}
{% for design in site.designs %}
    <!--  Liquid's boolean logic is very weak - this replaces a 3 way OR conditional -->
    {% if design.categories contains "digital" %}
        {% assign show_design = true %}
    {% endif %}

    {% if design.categories contains "illustrations" %}
        {% assign show_design = true %}
    {% endif %}

    {% if design.categories contains "print" %}
        {% assign show_design = true %}
    {% endif %}

    {% if show_design %}
        {% cycle 'add row' : '<div class="row images">', nil, nil %}

        {% include design-tile.html %}

        {% cycle 'end row' : nil, nil, '</div>' %}
    {% endif %}
{% endfor %}
{% cycle 'end row' : nil, '</div>', '</div>' %}
